{% extends 'main.html' %}

{% block title %}
Code Blocks
{% endblock %}

{% block content %}



<div id="first-container" class="container mt-5">
    <a href="#" class="to-top">
        <i class="fas fa-chevron-up"></i>
    </a>
    <div class="row" id="home-link">
        <div class="col-md-6">
            <h2>Improve your coding skills by building real projects</h2>
            <div>
                <p>Solve real-world HTML, CSS and JavaScript challenges whilst working to professional designs. Join 6,17,143 developers building projects, reviewing code, and helping each other get better.</p>
                <a id="apply-btn"  class="btn btn-outline-light" href="">Apply Now</a>
            </div>
               
        </div>
        <div class="col-md-6">
            <div class="domain-handle">
                <h1>Domains we handle</h1>
                <h1><span id="moving-text" class="auto-type"></span></h1>
            </div>
        </div>
    </div>
</div>



<!--Domains section -->
<section>
    <div class="container" id="domains">
        <h2 class="text-center" style="margin-top:100px;"><strong>Domain's we handle</strong></h2>
        <div id="domaintext-color" class="row">
            {% for d in domain %}
            <div class="col-md-6">
                <div class="card text-center m-4"  id="domain-div">
                    <!-- <img class="card-img-top" src="{{d.image.url}}" alt="Card image cap"> -->
                    <div class="card-body ">
                      <h3 class="card-title">{{d.d_name}}</h3>
                      <p class="card-text">{{d.d_desc}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>



<!-- about us -->
<section>
   <h1 class="text-center">About Us</h1>
   <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h3>Codeblocks in brief?</h3>
                <div class="para">
                    <p>Our main motive is to make you a high skilled programmer by learning our new trending technologies,
                        We believe everyone should get the right opportunities to learn</p>
                   <p>Codeblocks is not just another training institute where you go learn something and leave forever.
                       Codeblocks is a community of high performance people who support each other and to win together and by providing a 24x7 support for you through our social groups.</p>
                </div>
            </div>

            <div class="col-md-6">
                <h3>What we  provide?</h3>
                <div class="para">
                    <p>Phase 1 - Learn all the fundamentals of programming(0-20 days).</p>
                    <p>Phase 2 - During this period you will dive deep into various aspects of your domain (20- 60).</p>
                    <p>Phase 3 - you will do as many projects as possible.</p>
                    <p>Phase 3 - Preparation for your interview,problem solving and progamming related questions.</p>
                </div>
            </div>

         </div>
   </div>
</section>

<!-- upcoming events -->

<section>
    <div class="container" id="events">
        <h2 class="text-center" style="margin-top:100px;"><strong>Upcoming Events</strong></h2>
        <div class="row">
            {% for e in events %}
            <div class="col-lg-4">
                <img class="thumbnail" src="{{e.imageURL}}">
                <div class="box-element product">
                    <h6><strong>{{e.e_name}}</strong></h6>
                    <hr>
                    <h6><strong>{{e.e_desc}}</strong></h6>
                    <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-primary add-btn update-cart">Add to Cart</button>
                    <a class="btn btn-outline-success" href="#">View</a>
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Discussion -->
<section>
    <div class="container" id="Discussion">
        <h2 class="text-center" style="margin-top:100px;"><strong>Codeblocks Discussion</strong></h2>
        <div class="row">
            <div class="scroll-bg1">
                <div id="scroll-div1" class="col-md-4">
                    <h3>Browse Topics</h3>
                    <hr>
                    <strong><a class="text-white" href="{% url 'home' %}">All</a></strong>
                    {% for topic in topics %}
            
                    <h3><a class="text-white" href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a></h3>

                    {% endfor %}
                </div>
            </div>
            
            <div class="scroll-bg">
                <div id="scroll-div" class="col-md-8">
                    <h3>Recent Activities</h3>
                    {% for message in room_messages %}
                    <div class="recent-messages">
                        <small>@{{message.user}} {{message.created|timesince}}</small>
                        <small>replied to "{{message.room}}"</small>
                        <p>{{message}}</p>

                        {% if request.user == message.user %}
                        <a class="btn btn-outline-dark" href="{% url 'delete-message' message.id  %}">Delete</a>
                        {% endif %}
                        <hr>
                    </div>
                    {% endfor %}
                </div>
            </div>
            

        </div>

        <br>


        <h3 id="room_filter" class="rooms-available mx-5 my-4 ">{{room_count}} Rooms available..</h3>
        <div>
            <h3><a class="btn btn-outline-light mx-5 my-4" href="{% url 'create-room' %}"><i class="fa-sharp fa-solid fa-plus"></i> Create Room</a></h3>
            <div class="row gy-3" >
                {% for r in rooms  %}
                <div class="col-md-6 h-100">
                    <div class="card m-4 ">
                        {% if request.user == r.host %}
                        <a class="text-center btn btn-outline-info" href="{% url 'update-room' r.id %}">Edit</a>
                        
                        <a class="btn btn-outline-info" href="{% url 'delete-room' r.id %}">Delete</a>
                        {% endif %}
                        
                        <!-- <img class="card-img-top" src="{{d.image.url}}" alt="Card image cap"> -->
                        <div style="background: linear-gradient(#0d022a,#6b1f18);" class="card-body text-center ">
                            <a href="">@{{r.host.username}}</a>
                        
                          <h5 class="card-title text-white">{{r.id}} -- <a href="{% url 'room' r.id%}">{{r.name}}</h5></a>
                          <a href=""><p class="card-text">{{r.desc}}</p></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
            </div>
        </div>

    </div>

</section>



<!--Contact section-->

<section>
    <div class="container" >
        <div class="rounded-3 py-5 px-4 px-md-5 mb-5"  >
            <div class="text-center mt-4" id="contact">
                <div class="feature bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope display-4 text-light" ></i></div>
                <h1 class="fw-bolder">Get in touch</h1>
                <p class="lead fw-normal text-white mb-0">We'd love to hear from you</p>
            </div>
            <div class="row justify-content-center p-3"   style="background-color:rgb(0, 0, 0);">
                <div class="col-lg-8 col-xl-6">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <label for="name">Full name</label>
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                            
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <label for="email">Email address</label>
                            <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                            
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <label for="phone">Phone number</label>
                            <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                            
                            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                            
                            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                        </div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-outline-dark btn-lg text-white btn-block" id="submitButton" type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<!--FOOTER SECTION -->

{% endblock %}