<footer>
    <div class="footerContainer">
        <div class="socialIcons">
            <a class="linksocialicons" href=""><i class="fa-brands fa-facebook"></i></a>
            <a class="linksocialicons" href=""><i class="fa-brands fa-instagram"></i></a>
            <a class="linksocialicons" href=""><i class="fa-brands fa-github"></i></a>
            <a  class="linksocialicons" href=""><i  class="fa-brands fa-whatsapp"></i></a>
            
        </div>
    </div>
        <div class="footerBottom">
            <p >Copyright &copy;CodeBlocks 2023</p>
        </div>

</footer>
